* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App > h1 {
  text-align: center;
  padding: 5px 0 .5em 0;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.choices > label {
  text-transform: capitalize;
}